.blog {
	&__list {
		margin-top:3rem;
		margin-bottom: 1.125rem;
		width:100%;
		@include for-phone-up {
		    width: 70%;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		padding-left: .9375rem;
		padding-right: .9375rem;
		margin-bottom: .9375rem;
		@include for-phone-up {
			flex-direction: row;
		}
	}
	&__thumb {
		display: flex;
	    flex-direction: column;
	    @include for-phone-up {
	    	width: 40%;
	    }
		&--img {
			width: 100%;
		}
	}
	&__content {
		align-self: flex-start;
	    @include for-phone-up {
			padding-left: .75rem;
			padding-right: .75rem;		
	    	width: 60%;
	    }
	}
	&__title {
		color: $base;
		margin-top: 0;
		margin-bottom: .5rem;		
	}
	&__date {}
	&__meta {
		display: block;
		margin-bottom: .9375rem;		
	}
	&__author {
		color:$accent_1;
		font-weight:600;
	}
	&__button {
		display:flex;
		flex-direction: column;
		align-items: start;
	}
	&__desc {}
	&__link	 {}
	&__side {
		display:flex;
		flex-direction: column;
		margin-top:3rem;
		width:100%;
		@include for-phone-up {
		    margin-left: 7%;
			width:20%;
		}
		&--title {
		    border-bottom: 0.0625rem solid $accent_1;
			color: $accent_1;
		    font-size: 1rem;
		    font-weight: 600;
	        margin-top: .25rem;
		    margin-bottom: .5rem;
		    text-transform: uppercase;			
		}
	}
}
main {
	.wrapper {
		@include for-phone-only {
			flex-direction: column;
		}
	}
}