.button {
	&__outline {
	    border: 0.125rem solid #156cb3;
	    display: block;
	    padding: .1875rem;	
	    text-align: center;
	    text-transform:uppercase;
	    width: 100%;
	    &:hover {
		    text-decoration: none;	    	
	    }
	}
}