.footer {
	&__columns {
		display: flex;
		flex-direction: row;		
	}
	&__menus {
		display: flex;
		flex-direction: row;
		width: 75%;
	}
	&__menu {
		display: flex;
		flex-direction: row;
		list-style: none;
		width:100%;
	}
	&__item {
	}
	&__sub {
		padding-inline-start: 0;
	}
}