.footer {
	&__columns {
		display: flex;
		flex-direction: row;
		padding: 2rem 0;
		width: 100%;		
	}
    &__title {
		border-bottom: .0625rem solid $accent_2;
		color: $accent_2;
		display: block;
		font-size:.9rem;
		font-weight:700;
		line-height: 1.75;
		margin-right: .5rem;
		max-width: 80%;
		text-transform: uppercase;	    	
    }
	&__email {
		color:$alternate;
		&:hover {
			color:$accent_2;
			text-decoration:none;
		}
	}

}