.footer {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
    filter: sepia(600%) hue-rotate(180deg) saturate(900%);
    flex-direction: column;
	&:before {
		background-color: rgba($accent_6,.75);
		content: '';
		display: block;
		height: 100%;
		position: absolute;		
		width: 100%;
	    z-index: 1;
	}
	.wrapper {
		z-index:3;
	}
}