.footer {
    align-items: center;
    background-color: $accent_1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // filter: sepia(600%) hue-rotate(180deg) saturate(900%);
	&__boiler {
		margin-bottom:2rem;
	}
	&__columns {
	}
	&__connect {
		color: $alternate;
		display: flex;
		flex-direction: column;
	    text-align: center;
		width: 33%;
		&--title {
			display: block;
			font-weight: 300;
			margin-bottom: .5rem;
			width: 100%;			
		}
		&--list {
			align-content: center;
			display:flex;
		    justify-content: center;
			margin:0 0 .5rem;
			padding:0;
		}
		&--item {
		    display: inline;
		    list-style: none;
		    height: 1.25rem;
		    width: 1.25rem;
		    padding: 0;
		    margin: 0 .5rem;
		}
		&:after, &:before {
			align-self: center;			
			background-color: $accent_2;
			content: '';
			display: block;
			height: .125rem;
			width: 15%;
		}
		&:after {
			margin-top: .5rem;
		}
		&:before {
			margin-bottom: .5rem;
		}
	}
	&__logo {
		margin-top:2rem;
	}
	.social {
		&__link {
			svg {
				fill:$alternate;
			}
		}
	}
	.wrapper {
		align-items: center;
	    flex-direction: column;
	}	
}