.footer {
    align-items: center;
    background-color: $accent_1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // filter: sepia(600%) hue-rotate(180deg) saturate(900%);
	&__boiler {
		margin-bottom:2rem;
	}
	&__logo {
		margin-top:2rem;
	}
	.wrapper {
		align-items: center;
	    flex-direction: column;
	    max-width:1200px;
	}	
}