.categories {
    color: $accent_1;
	font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
	&__list {
		list-style: none;
		margin-left: 0;
		padding: 0;
		ul{
			list-style: none;
			margin-left: 0;
			padding: 0;
		}
	}
	&__link {
		color:$dark_gray;
		font-weight: 400;
		text-transform: none;		
	}
}