@include for-tablet-up {
	.menus {
		&__list {
			align-self: center;
			background-color: transparent;
			display: flex;
			flex-direction: row;
			justify-content:flex-end;
			margin-bottom: 0;
		    position: relative;
			transform: translateX(0%);
			width: 50%;
		}
		&__icon {
			display:none;
		}
		&__item {
			font-weight: 700;
			list-style: none;
			text-transform: uppercase;
			span {
				color:$accent_1;
				cursor:pointer;
			}
			&:not(:last-of-type) {
			    margin-right: .5rem;
				&:after {
					color: $accent_3;
					content: '/';
					margin-left: .25rem;
					margin-right: .25rem;				
				}
			}
			&:hover {
				.menus__sub {
					display:block;
				}
			}
		}
		&__link {
			border:0;
			color:$accent_1;
			display:inline;
			font-size: 14px;
			font-weight: bold;
			padding:0;
			text-decoration: none;
			&:hover {
				text-decoration:none;
			}
		}
		&__sub {
		    box-shadow: 0.0625rem 0 0.25rem rgba($accent_6,.35);
			position: absolute;
		    background: white;
		    padding: .5rem;
		    list-style: none;
		    transform: translateY(1.85rem);
			&:first-of-type {
				display:none;
			}
		}		
		&__list {
			margin-left: auto;
		}
		&__toggle {
			display:none;
		}
		.caret {
			background:url(../../sprites/down.svg) no-repeat center center;
			background-size:cover;
			display:inline-block;
			filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
			height: .5rem;
			margin-left: .5rem;
			width: .5rem;
		}		
	}
	// Temp fix
	.menus__list>.menus__item--parent:nth-of-type(2) {
	    display: none;
	}	
}