@include for-phone-only {
	.menus {
		&__list {}
		&__item {}
		&__link {
			&:before {
				color:$accent_1;
			    content: '\2022';
			    font-size: 1.5rem;
			    margin-right: .5rem;
			    position: relative;
			    top: .175rem;
			}			
		}
		&__icon {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;		
			display: inline-block;
			height: 1rem;
			margin-right:.5rem;
			width: 1rem;
			&--solutions {
				background-image: url(../../sprites/solutions.jpg);
			}
			&--industries {
				background-image: url(../../sprites/industries.jpg);
			}
			&--resources {
				background-image: url(../../sprites/resources.jpg);
			}
			&--services {
				background-image: url(../../sprites/services.jpg);
			}
			&--about {
				background-image: url(../../sprites/about.jpg);
			}
			&--contact {
				background-image: url(../../sprites/contact.jpg);
			}
		}
		&__sub {
			display:block;
			&--item {}
			&--link {
				border-bottom: 0.0625rem solid $accent_1;
				color:$accent_1;
				display: inline-block;
				font-size: .9375rem;
				font-weight:700;
				padding:.5rem 0 .5rem 1rem;
				text-transform: uppercase;
				width:100%;				
			}
		}
		&__tertiary {
			display:block;
			&--item {}
			&--link {
				border-bottom: 0.0625rem solid $accent_1;
				color:$accent_1;
				display: inline-block;
				font-size: .9375rem;
				font-weight:500;
				padding:.5rem 0 .5rem 1rem;
				text-transform: uppercase;
				width:100%;				
			}			
		}
	}
}