.menus {
	align-items: center;
	display: flex;
	&__brand {
		display:flex;
	    margin:1rem .5rem;
		width:65%;
		&--img {
			align-self: center;
			max-width: 100%;
		}
		@include for-tablet-up {
			width:28.59375rem;
		}
	}
	&__toggle {
	    align-self: center;
	    display: block;
	    margin-left: auto;
	    margin-right: .5rem;
	    transition: all 1s ease;
		&--item {
			background-color: $accent_1;
			border-radius:3px;
			display: block;
			height: 2px;
			margin: 5px;
			width: 25px;
		}			
	}
	&__list {
		align-items: center;
		background-color: $alternate;
		flex-direction: column;
		height: 100%;
		margin-block-start:0;
		margin-block-end: 0;
		padding-inline-start:0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(100%);
		transition: transform 0.5s ease;
		width: 100%;
	    z-index: 1000;
	}
	&__item {
	}
	&__link {
		border-bottom: 0.0625rem solid $accent_1;
		color:$accent_1;
		display: block;
		font-size: .9375rem;
		font-weight:700;
		list-style:none;
		padding:.5rem 0 .5rem 1rem;
		text-transform: uppercase;
		&:before {
		    content: '\2022';
		    font-size: 1.5rem;
		    margin-right: .5rem;
		    position: relative;
		    top: .175rem;
		}
	}
	&__sub {
		display:none;
	    list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
	&__tertiary {
		display:none;
	    list-style: none;
		margin-left: 0;
		padding-left: 0;
		.menus__link {
			font-weight:300;
			padding-left: 2rem;
			&:before {
			    font-size: 1rem;
			    top: .125rem;
			}
		}
	}
}
.active {
	transform: translateX(0%);	
}