// Solutions in page Sub Navigation - links pages to their respective sibling/child solutions
.solutions {
	&__title {}
	&__list {}
	&__item {
		width: 50%;
		@include for-tablet-up {
			width: 33%;
		}
		@include for-laptop-up {
			width: 25%;
		}
	}
	&__image {}
	&__content {
		&--title {
			display:block;
			font-size: 1.6rem;
			line-height: 1.75rem;			
			text-align:center;
		}
		&--desc {
			display: block;
			line-height: 2.15rem;
			font-size: 1.5625rem;
			font-weight: 300;
			margin: 0 0 30px;
			text-align: center;
			a {
				color:$base;
			}
		}
	}
	.wrapper {
		flex-direction: column;
		flex-wrap: wrap;
	}
}