.genForm {
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	padding:1rem 0;
	@include for-tv-up {
		padding:5rem 6rem 12rem;
	}
	@include for-laptop-down {
		padding:2rem;
	}
	&__form {
		background-color:$alternate;
		border:0.0625rem solid $accent_1;
		padding: 1.5rem 2.5rem;
	}
	&__label {
		font-size:.9rem;
		margin-bottom:0;
		text-transform:uppercase;
	}
	&__field {
		padding:.0125rem;
		font-size: 1.25rem;
	}
	&__footer {
		background-color: $accent_1;
		border-bottom:3px solid $accent_5;
	    text-align: center;
	    padding: 1.25rem 0;
	    color: $alternate;
		font-weight: bold;
	    font-size:1.2rem;
	    @media(min-width:1200px){
			position: relative;
			transform:translateY(-2rem);
			margin-top:-8rem;
	    }
	    &--link {
	    	color:$accent_2;
	    }
    	&--icon {
		    transform: rotate(-15deg);
		    top: 5px;
		    position: relative;
    	}
	}
}
#cf_contactFormTitle {
	div {
		&.section__title {
			border-bottom-width: 0;
			border-bottom-color: transparent;
			margin: 0;
			h2 {
				color: $white;
			}
		}
	}
}

/*	
#cfCTA_employeeInfo {
	h3 {
		display:inline-block;
		background-color: rgba(0,0,0,.4);
		padding: 1em 2em 1.25em;
		text-align: left;
		border-radius: 4px;
		@media(min-width:786px){
			margin-bottom:0rem;
		}
		color: $alternate;
		text-shadow: 0 0 0.6em rgba(30,43,50,.12);
		font-size: 1.75em;
		font-weight: bold;
		small {
			font-size: 1.4rem;
			font-weight: 100;
			letter-spacing: .6px;
			display: block;										
		}										
	}
}
*/