#contactFormCTA {
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	padding:1rem 0;
	@media(min-width:1200px){
		padding:5rem 6rem 12rem;
	}
	@media(min-width:768px) and (max-width:1199.99px){
		padding:2rem;
	}
	form {
		background-color:$accent_3;
		padding: 1.5rem 2.5rem;
		label {
			font-size:.9rem;
			margin-bottom:0;
		}
		.form-group {
			&.col-12 {
			padding-left: 0;
			margin-bottom: .25rem;
			}								
		}
		.form-control {
			padding:.0125rem;
			font-size: 1.25rem;
		}
		.btn-large {
			display: block;
			width: 100%;
			padding: .75rem 2.5rem;
			text-transform: uppercase;
			border: 2px solid $accent_1;
			font-weight: bold;
		}
	}
	#cfCTA_employeeInfo {
		h3 {
			display:inline-block;
			background-color: rgba(0,0,0,.4);
			padding: 1em 2em 1.25em;
			text-align: left;
			border-radius: 4px;
			@media(min-width:786px){
				margin-bottom:0rem;
			}
			color: $alternate;
			text-shadow: 0 0 0.6em rgba(30,43,50,.12);
			font-size: 1.75em;
			font-weight: bold;
			small {
				font-size: 1.4rem;
				font-weight: 100;
				letter-spacing: .6px;
				display: block;										
			}										
		}
	}
}
#cf_contactFormTitle {
	div {
		&.section__title {
			border-bottom-width: 0;
			border-bottom-color: transparent;
			margin: 0;
			h2 {
				color: $white;
			}
		}
	}
}
#foot_call_cta {
	background-color: $accent_1;
	border-bottom:3px solid $accent_5;
    text-align: center;
    padding: 1.25rem 0;
    color: $alternate;
	font-weight: bold;
    font-size:1.2rem;
    @media(min-width:1200px){
		position: relative;
		transform:translateY(-2rem);
		margin-top:-8rem;
    }
    a {
    	color:$accent_2;
    	i, svg {
		    transform: rotate(-15deg);
		    top: 5px;
		    position: relative;
    	}
    }
}