.studies {
	&__title {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        width: 100%;
        &--text {
            display:inline-block;
            font-size:2rem;
            position:relative;
            text-transform:uppercase;
            @include bars($accent_1, 1.25rem, -120%);
        }		
	}
	&__filter {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	&__drop {}
	&__label {}
	&__dropdown {}
	&__option {}
	&__results {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;		
	}
	&__item {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding:.9375rem;
		position: relative;
		width: 50%;
		@include for-laptop-up {
			width: 33%;		
		}
	}
	&__link {
		display:block;
	}
	&__image {
	    width: 100%;
	}
	&__text {
		bottom: 0;
		max-width: 90%;
		padding: .5rem;
		position: absolute;
		text-shadow: 1px 1px 3px rgba($accent_7,.3725);
	}
	.wrapper {
	    display: flex;
	    flex-direction: column;
	    flex-wrap: wrap;		
	}
}