.blogs {
	padding-bottom:3rem;
	&__content {
	    padding: 1rem;
	}
	&__footer {
		display: flex;
		flex-direction: column;
		padding: 0 1rem 1rem;		
	}
	&__image {
		width:100%;
	}
	&__item {
		display:flex;
		border:.0625rem solid $dark_gray;
		flex-direction: column;
	    width: 32.5%;
	}
	&__link {
	    display: block;
	    border: .125rem solid $accent_1;
	    font-size: .75rem;
	    font-weight: 600;
	    margin-top: 1rem;
	    padding: .25rem 1rem;
	    text-align: center;
	    text-transform: uppercase;
	}
	&__list {
	    column-gap: .75rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width:100%;
	}
	&__sub {
	    text-transform: uppercase;
	    font-weight: 600;
	    color: $dark_gray;		
	}
	&__title {
		font-size: 1.4275rem;
		font-weight: 600;		
	}
	.wrapper {
	}	
}