.cases {
	background-color: $accent_1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    padding-bottom: 5rem;
    padding-top: 5rem;
    position:relative;
    &:before {
		background-color: $accent_1;
		content: '';
		display: block;
		height: 100%;
		opacity: .3;    	
		position: absolute;
		top: 0;
		width: 100%;
    }
    &__button {
    	z-index: 2;
    }
    &__carousel {
	    margin-top: 3rem;
    	z-index: 2;    	
    }
    &__content {
    	color:$alternate;
		display: block;
		margin-bottom: 2rem;
		margin-top: 1rem;
		width: 40%;
		z-index: 2;
    }
    &__link {
		background-color: $accent_2;
		border-radius: .55rem;
		display: inline-block;
		font-weight: 600;
		letter-spacing: .0625rem;
		padding: .5rem 2rem;
		text-transform: uppercase; 	
    }
    &__list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
    }
    &__item {
		display: flex;
		flex-shrink: 0;
		padding-left: 1rem;
		padding-right: 1rem;
    	width:33.33%;
    	&.active {
    		display:flex;
    	}
    }
    &__image {
	    filter: brightness(5000%);
    	width:100%;
    }
    &__title {
    	z-index: 2;
    	&--text {
    		color:$accent_2;
			font-size: 2rem;
			font-weight: bold;
			text-transform: uppercase;    		
    	}
    }
	.wrapper {
		flex-direction: column;
	}
}