.testimonials {
	&__carousel {
	}
	&__city {
	    color: $accent_1;
	    display: block;
	    line-height: 1.75;
	}
	&__company {
	    display: block;
	    margin-bottom: 2rem;
	}
	&__item {
//		flex: 0 0 100%;
//	    padding-left: 5rem;
//	    padding-right: 5rem;
		&.carousel-item {
			flex-direction: column;
			align-items: start;
			&.active {
				display:flex;
			}
		}
	}
	&__list {
		display:flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	&__quote {
		align-items: center;
	    color: $accent_1;
		display:flex;
		flex: 1 0 auto;
	    font-size: 1.25rem;
	    font-style: italic;
		justify-content: center;	    
	}
}