.carousel {
	&__nav {
		background-image:url( $data-svg-prefix + map-get( $icons, 'caret' ) );
    	background-position:center;
    	background-repeat:no-repeat;
    	background-size:1.5rem;
    	width:5%;		
	}
}