.carousel {
	&__nav {
	    background-image: get-icon( 'caret', $alternate );
		background-position:center;
		background-repeat:no-repeat;
		background-size:1.5rem;
		display:flex;
		width:5%;
    	&--next {
    		right:-1rem;
			transform: rotate(270deg);    		
    	}
		&--prev {
    		left:-1rem;
		    transform: rotate(90deg);
		}    	
	}
}