.featured {
    &__list {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__image {
        width:100%;
        &--link {
            display:block;
            margin-bottom: 1.125rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        padding-left:.9375rem;
        padding-right:.9375rem;
        width:100%;
        @include for-laptop-up {
            width:33%;        
        }
    }
    &__header {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        width: 100%;
        &--text {
            display:inline-block;
            font-size:2rem;
            position:relative;
            text-transform:uppercase;
            @include bars($accent_1, 1.25rem, -120%);
        }
    }
    &__title {
        display: block;
        font-size:1.125rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }
    &__desc {

    }
    &__button {
        align-self: flex-end;
        display:block;
    }
    .wrapper {
        flex-direction: column;
    }
}