.featured {
    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        width: 100%;
        &--text {
            display:inline-block;
            font-size:2rem;
            position:relative;
            text-transform:uppercase;
            @include bars($accent_1, 1.25rem, -120%);
        }
    }
    .wrapper {
        flex-direction: column;
    }
}