.featured {
    &__button {
        align-items: baseline;
        display:block;
    }
    &__carousel {
        overflow: hidden;
        position: relative;
    }
    &__desc {
        flex-grow: 1;
        margin-bottom: 1.5rem;
    }
    &__header {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        width: 100%;
        &--text {
            display:inline-block;
            font-size:2rem;
            position:relative;
            text-transform:uppercase;
            @include bars($accent_1, 1.25rem, -120%);
        }
    }
    &__icon {
        background:url(../../sprites/arrow.svg) no-repeat center center;
        background-size:cover;
        display:inline-block;
        filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
        height: 2rem;
        margin-left: .5rem;
        width: 2rem;
        &--next {
            transform: rotate(-90deg);
        }
        &--prev {
            transform: rotate(90deg);
        }
    }
    &__image {
        width:100%;
        &--link {
            display:block;
            margin-bottom: 1.125rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 1.25rem;
        min-height: 100%;
        padding-left:.9375rem;
        padding-right:.9375rem;
        width:95%;
        @include for-laptop-up {
            width:34%;        
        }
    }
    &__list {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 2rem;
        overflow-x: hidden;
        width: 93vw;
        &--transition {
            transition: all 0.35s ease-in-out;            
        }
    }
    &__nav {
        align-items: center;
        background-color: $alternate;
        display: flex;
        height: 100%;
        position: absolute;
        top: 0;
        &--text {
            display:none;
        }
        &--prev {
            left: 0;
        }
        &--next {
            right: 0;
        }
    }
    &__title {
        display: block;
        font-size:1.125rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }
    .wrapper {
        flex-direction: column;
    }
}