.measurement_tables {
	&--caption {
	    color: #404040;
	    padding: 1rem 0;
	    font-size:1.5rem;
	    text-transform: none;
	    text-align: left;
		margin-bottom:0;
	    &:first-of-type {
		    margin-top: 0;
		}
	}
	&--tables {
		&.w_caption {
			margin-top:0;
			margin-bottom:0;			
		}
	}
}