.measurement_tables {
	&--caption {
	    color: #404040;
	    padding: 1rem 0;
	    font-size: 1.75rem;
	    text-transform: none;
	    text-align: left;
	}
	&--tables {
		margin-top:0;
		margin-bottom:0;
	}
}