.topbar {
	background-color: $accent_1;
	color:$alternate;
	&__email {
		display:inline-block;
		&--link {
			color:$alternate;
		}
	}
	&__phone {
		display:inline-block;
		&--link {
			color:$alternate;
		}
	}
	&__social {
		align-content: flex-end;
		display:flex;
		flex-direction: row;
		margin-left: auto;
		justify-content: flex-end;
	}
	.social{
		&__item {
			height: 1.5rem;
			width: 1.5rem;
			svg {
				fill:$alternate;
			}
		}
	}
}