@keyframes menuLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}