// Screen Breaks
@mixin for-phone-only {
  @media (max-width: 786px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 786px) { @content; }
}
@mixin for-tablet-below {
  @media (min-width: 786px) and (max-width: 991px) { @content; }
}
@mixin for-ipad-only {
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {@content;}
}
@mixin for-laptop-down {
  @media (min-width:768px) and (max-width: 1200px) { @content; }
}
@mixin for-laptop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-tv-up {
  @media (min-width: 1360px) { @content; }
}
// Commonly Used
@mixin bars($bars_bg, $bars_pos){
	&:before, &:after {
		content: '';
		height: 1px;
		position: absolute;
		width: 125%;
		background-color: $bars_bg;
		top: $bars_pos;										
	}
	&:after {
		left:105%;
	}
	&:before {
		right:105%;
	}
}

@mixin caret($stroke_color) {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 490.656 490.656"> <path d="M487.536 120.445c-4.16-4.16-10.923-4.16-15.083 0L245.317 347.581 18.203 120.445c-4.16-4.16-10.923-4.16-15.083 0s-4.16 10.923 0 15.083l234.667 234.667c2.069 2.091 4.8 3.136 7.531 3.136s5.461-1.045 7.552-3.115l234.667-234.667a10.7 10.7 0 00-.001-15.104z"/> </svg>');
}