// Screen Breaks
@mixin for-phone-only {
  @media (max-width: 786px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 786px) { @content; }
}
@mixin for-tablet-below {
  @media (min-width: 786px) and (max-width: 991px) { @content; }
}
@mixin for-ipad-only {
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {@content;}
}
@mixin for-laptop-up {
  @media (min-width: 991px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-tv-up {
  @media (min-width: 1360px) { @content; }
}

// Commonly Used
@mixin bars($bars_bg, $bars_pos){
	&:before, &:after {
		content: '';
		height: 1px;
		position: absolute;
		width: 15vw;
		background-color: $bars_bg;
		top: $bars_pos;										
	}
	&:after {
		left:-175%;
	}
	&:before {
		right:-175%;
	}	
}