.menu {
	display:flex;
	flex-direction: row;
	&__brand {
		display:flex;
		width:50%;
		&--img {
			align-self: center;
			max-width: 100%;
		}
	}
	&__list {}
	&__item {}
	&__link {}
	&__sub {
		&:first-of-type {
			display:none;
		}
	}
}