.hero {
	background-color: $accent_1;
	&__holder {
		display: flex;
		min-height:6rem;
		overflow-y: hidden;
		width: 100%;
		@include for-laptop-up {
			max-height: 60vh;
			overflow-x: hidden;			
		}
	}
	&__img {
		align-self: center;
		display: flex;
		width: 100%;
    }
	&__title {
		padding-top: 1rem;
		width:100%;
		&--text {
			color: $alternate;
		}
	}
	.wrapper {
		flex-direction: column;
	}
}