.hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height:18.75rem;
	@include for-phone-only {
		display:flex;
	}
	@include for-tablet-up {
		min-height:43.75rem;
	}
	&__content {
		display: flex;
		flex-direction: column;
		&--title {
			color:$alternate;
			font-size:1.6275rem;
			font-weight:700;
			text-transform: uppercase;
			&:after {
				background-color: $accent_1;
				border-radius: 0 0 6.25rem 6.25rem;				
				content: '';
				display: block;
				height: .3125rem;
				width: 30%;
			}
		}
		&--desc {
			color:$alternate;
			font-size:.875rem;
		}
		&--link {
			border:.0625rem solid $alternate;
			color:$alternate;
			display: inline-block;
			font-size: .75rem;
			margin: 1rem 0;
			padding: .25rem .5rem;
		}
	}
	&__services {
		@include for-phone-only {
			display:none;
		}
	}
	.wrapper {
		flex-direction: column;
		height: 100%;
		min-height: 100%;
		align-self: center;
	}
}