html {
	body {
		section {
			&#avail_positions {	
				h3 {
					a {
						display: block;
						svg {
							transition: all .25s linear;
						    margin-left: 1rem;
						}
						&:not(.collapsed) {
							svg {
								transform: rotate(90deg);
							}
						}
					}
				}
			}
		}
	}
}