html {
	body {
		main {
			#gallery {
				.carousel-inner .carousel-item.active,
				.carousel-inner .carousel-item-next,
				.carousel-inner .carousel-item-prev {
				  display: flex;
				}

				.carousel-inner .carousel-item-right.active,
				.carousel-inner .carousel-item-next {
				  transform: translateX(25%);
				}

				.carousel-inner .carousel-item-left.active, 
				.carousel-inner .carousel-item-prev {
				  transform: translateX(-25%);
				}
				  
				.carousel-inner .carousel-item-right,
				.carousel-inner .carousel-item-left{ 
				  transform: translateX(0);
				  
				}				
			}
			#flsCarousel {
			    margin: 20px auto;
			    .img-fluid {
			    	min-width:100%;
			    }
			    .carousel-indicators {
			        margin: 10px 0 0;
			        overflow-x: auto;
			        overflow-y: none;
			        position: static;
			        text-align: left;
			        white-space: nowrap;
			        width: 100%;
			        li {
			            background-color: transparent;
			            -webkit-border-radius: 0;
			            border-radius: 0;
			            display: inline-block;
			            height: auto;
			            margin: 0 !important;
			            width: auto;
			            border:1px solid transparent;
			            img {
			                display: block;
			                opacity: 1;
			            }
			            &.active {
			                img {
			                    opacity: 0.5;
			                }
			                border-color:$accent_1;
			            }
			            &:hover {
			                img {
			                    opacity: 0.75;
			                }
			            }
			        }
			    }
			    .carousel-outer {
			        position: relative;
			    }
			}			
		}
	}
}