body {
	&.page-template-fall-protection-101 {
		main {
			section {
				&#banner div.page_title, &#breadcrumbs, &#main-content, &#fp_101, &#fp_info, &#cf_contactForm {					
				    padding-left:5%;
				    padding-right:5%;
					@media(min-width:992px) and (max-width:1299.99px){
					    padding-left: 10%;
					    padding-right: 10%;
					}
					@media(min-width:1300px){
					    padding-left: 100px;
					    padding-right: 100px;
					    font-size: 131%;
					    line-height: 150%;
					}
				}
				&#fp_icons {
					span {
						&.fp_icon {
							img {
								&.img-fluid {
									max-width: 125px;
								}
							}							
						}
					}
				}
				&#cf_contactFormTitle {
					background-color: $accent_1;
					padding-top:1rem;
					h1 {
						color: $alternate;
					}
				}
				&#cf_contactForm {
					background-color: $accent_3;
					padding-top:1rem;
					padding-bottom:1rem;
					textarea {
						height: 5.5rem;						
					}
				}			
			}
		}
	}	
}