body {
	ul {
		&.gallery {
			li {
			    padding-left: 0;
		        padding-right: 0;
			    margin-left: 0;
			    @media(min-width:786px) {
					margin-bottom:1rem;
			    }				
			    @media(max-width:786px) {
				    width: 47.5%;
				    margin-bottom: .25rem;
				    &:not(:last-child) {
					    margin-right: 0;
				    }
			    }
			}	
		}
	}
	section {
		&#gallery {
			div {
				&#flsCarousel {
					.thumb_nav {
					    white-space:nowrap;
					    overflow-x:auto;
					    position: absolute;
					    z-index: 1000;
					    bottom: 0;
					    background-color: rgba(0,0,0,.5);
					    padding: .5rem 1rem;
					    ul {
							&.carousel-indicators {
							    position: static;
							    left: initial;
							    width: initial;
							    margin-left: initial;
							    margin-block-end: 0;
								> li {
								    width: initial;
								    height: initial;
								    text-indent: initial;
									&.active {
									    border:1px solid $alternate;
										img {
										    opacity: 0.7;
										}
									}
									&:before, &:after {
										display:none;
									}
								}
							}
					    }
					}
				}
			}
		}
	}
}
