body {
	ul {
		&.gallery {
			li {
			    padding-left: 0;
		        padding-right: 0;
			    margin-left: 0;
			    @media(min-width:786px) {
					margin-bottom:1rem;
			    }				
			    @media(max-width:786px) {
				    width: 47.5%;
				    margin-bottom: .25rem;
				    &:not(:last-child) {
					    margin-right: 0;
				    }
			    }
			}	
		}
	}
	section {
		&#gallery {
			div {
				&#flsCarousel {
					.thumb_nav {
					    white-space:nowrap;
					    position: absolute;
					    z-index: 1000;
					    bottom: 0;
					    background-color: rgba(0,0,0,.5);
					    padding: .5rem 1rem;
					    #thumbs {
							max-width: 93%;
							overflow-x: auto;
							left: 40px;
							position: relative;
						    span {
								&.active {
								    border:1px solid $alternate;
								    background-color: none;
									img {
									    opacity: 0.7;
									}
								}						    	
						    }
					    }
					    span {
					    	&.th_nav {
							    width: 40px;
							    height: 91%;
							    position: absolute;
							    color: $alternate;
							    z-index: 1000;
							    opacity: 1;
							    top: .5rem;							    
							    background: $dark;
					    	}
					    	&#thumb_left {
								left:0px;
					    	}
					    	&#thumb_right {
								right:0px;
					    	}
					    }
					}
				}
			}
		}
	}
}