body {
	header {
		a {
			&.navbar-brand {
				margin-right: 0;
				color:$accent_1;
			    @media (min-width:786px) {
			    	min-width: 457.5px;
			    }				
				img {
					@media (max-width: 786px) {
					    max-height: 90px;
					    width: auto;
					}
					@media (min-width: 786px) {
						margin-right:1rem;
						min-width: 100%;
					}
				}
			}
		}
		span {
			&.nav_tel {
				font-weight: bold;
				font-size: 1.175rem;
				padding-top: 5px;
				text-align: center;
				a {
					color:$accent_4;
				}
			}
		}
		div {
			&#nav-holder {
				position: relative;
			}
			&#page-top {
				z-index: 100000;
			}
		}
	}
	main {
		section {
			&#banner {
				background-color: $gray;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				position: relative;
				min-height: 4rem;					
				@media(min-width: 786px){
					min-height: 6rem;					
				}
				div {
					&.page_title {
						background-color: $accent_1;
						color:$alternate;
						position: absolute;
						bottom: 0;
						padding-top: 1rem;
						h1 {
							color:$white;
							font-family: $primary;
							font-size:1.8125rem;
							font-weight: bold;
							@media(min-width:786px) {
								padding-left: 1rem;
							}
						}
					}
					&.w-image {
						min-height:450px;
					}
				}					
			}
		}
	}
	&:not(.industries-template-single-industries-fluid), &:not(#page-fall-protection-101) {
		main {
			section {
				&#banner {
					div {
						&.page_title {
							@media(min-width: 786px){
								&::after {
									height: 100%;
									width:7rem;
									border-radius: 0;
									background-color: $accent_1;
									content: "";
									position: absolute;
									right: -3.1em;
									bottom: 0rem;
									transform: skewX(40deg);
									z-index: 1;
								}
							}
						}
					}					
				}
			}
		}
	}	
}