body {
	&.solutions-template {
		div {
			&.testimonials {
				background-color: #f7f7f7;
				border-radius: 5px;
			    border: 1px solid #f0f0f0;
			    font-size: 1em;
			    padding: 28px 28px;
			    word-wrap: break-word;				
			}
		}
	}
	&.industries-template-single-industries-fluid {
		main {
			section {
				div {
					&.section_title {
						border-bottom-size: 2px;
						border-bottom-color: $black;
					}
				}
				&#main-content {
					padding-top: .5rem;
					h2 {
						&:first-of-type {
						    text-transform: uppercase;
						    font-weight: bold;
						    letter-spacing: .0125px;
						}
					}
				}
				&#cf_contactFormTitle {
					background-color: $accent_1;
					padding-top:1rem;
					h1 {
						color: $alternate;
					}
				}
				&#cf_contactForm {
					background-color: $accent_3;
					padding-top:1rem;
					padding-bottom:1rem;
					textarea {
						height: 5.5rem;						
					}
				}
				&#inline_solutions {
					padding-top: 2rem;
					padding-bottom: 2rem;					
				}
			}
		}
	}	
}