 body {
	&.solutions-template {
		div {
			&.testimonials {
				background-color: $lightly;
				border-radius: 5px;
			    border: 1px solid $not_quite_white;
			    font-size: 1em;
			    padding: 28px 28px;
			    word-wrap: break-word;				
			}
		}
	}
	&.industries-template-single-industries-fluid {
		main {
			section {
				div, span {
					&.section_title {
						border-bottom-width: 2px;
						border-bottom-color: $black;
						padding-left: 0;
					}
				}
				&#main-content {
					padding-top: .5rem;
					h2 {
						&:first-of-type {
						    text-transform: uppercase;
						    font-weight: bold;
						    letter-spacing: .0125px;
						}
					}
				}
				&#gallery {
					padding:2rem 0 0;
					@media(min-width:768px) {
						padding:2rem 100px;
					}
					img {
						&.img-fluid {
							min-width: 100%;
						}
					}
					div {
						&.content {
							padding-right:0;
							&.gallery {
								padding-left: 0;
								padding-right: 0;
							}
						}
						&#gallery_img{
							@media(max-width:786px){
								margin-bottom: .25rem;
							}						
						}
						&#carousel_controls {
							a {
								width:50%;
							    text-align: center;
							}
						}
					}
				}
				&#icons {
					padding-top:3rem;
					h2 {
						font-family:$tertiary;
						text-transform:uppercase;
					}
					div {
						&:not(:last-of-type) {
							&.row {
								margin-bottom:2rem;
							}
						}
						.fl_thumb {
							padding: 1rem 1rem 1rem 0;
							img {
								&.img-fluid {
									max-width: 125px;
								}
							}
						}
						&.fl_content {
							h2 {
								text-transform:uppercase;
								color:$accent_1;
							}
							p{
								margin-bottom:0;
							}
						}
					}
				}

				&#literature {
					ul {
						&.literature_list {
							li {
								img {
									&.img-fluid {
										min-width:100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}	
}