body {
	&.solutions-template {
		div {
			&.testimonials {
				background-color: #f7f7f7;
				border-radius: 5px;
			    border: 1px solid #f0f0f0;
			    font-size: 1em;
			    padding: 28px 28px;
			    word-wrap: break-word;				
			}
		}
	}
}