body {
	&.page-template-sample-fall-protection-plan {
		main {
			section {
				&#banner {
					@media(min-width: 1350px) {
						height: 600px;
					}
					div.page_title, &#breadcrumbs {
						margin-bottom:0;
					}
				}
				&#breadcrumbs {
					ul {
						&.list-inline {
						    margin-bottom: 0;
						}
					}
				}
				&#cf_contactFormTitle {
					background-color: $accent_1;
					padding-top:1rem;
					margin-top:2rem;
					h1 {
						color: $alternate;
					}
				}
				&#cf_contactForm {
					background-color: $accent_3;
					padding-top:1rem;
					padding-bottom:1rem;
					margin-bottom:3rem;					
					textarea {
						height: 5.5rem;						
					}
					div {
						&#fp_101_form {}
						&#fp_101_form_th {
							img {
								&.img-fluid {
									@media(min-width:786px){
										position: absolute;
										bottom: -1rem;
										max-height: 475px;
									}
								}
							}							
						}
					}
				}
				&#sfpp_plan {
					div {
						&.row {
							margin-top:.5rem;							
							margin-bottom:.5rem;
							h2 {
							    margin-bottom: 1rem;
							}
							&#fp_101_intro {
								hr {
									margin-top: 1.55rem;
									margin-bottom: 1.55rem;
									border: 0;
									border-top: 1px solid $keyline;
								}
							}
							&.item {
								margin-bottom:3rem;
								div {
									&.fp_icon {
										max-height:200px;
										@media(max-width: 786px){
										    text-align: center;
										    margin-bottom: 2rem;
										    img {
										    	&.img-fluid {
										    		height:100%;
										    	}
										    }
										}
									}
									&.fp_content_area {
										input {
											&.underline {
												border: 0;
												border-bottom: 1px solid #000;												
											}
										}
									}
								}
								&:not(:last-of-type) {
									border-bottom: 1px solid rgb(128,128,128 );
								    padding-bottom: 2rem;
								}								
							}
						}
					}
				}
				&#inline_solutions {
					div {
						&.item {
							div {
								&.title {
									a {
										line-height:2.25rem;
									}
								}
							}
						}
					}
				}				
			}
		}
	}	
}